body {
	background-image: url(../img/pattern.jpg);
}

.nav {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-bottom: 5px;

}

img {
	display: inline;
	float: left;
}

.nav li {
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 7;
	left: 870;
}

li a {
	text-decoration: none;
}

.container {
	width: 800px;
	margin: auto;
	background-color: white;
	margin-top: 75px;
	margin-bottom: 10px;
	
}

h1 {
	padding-top: 20px;
	text-align: center;
	padding-bottom: 50px;
}

h3 a {
	text-decoration: none;
	padding-bottom: 10px;
}

p {
	text-align: left;
	padding-bottom: 10px;
}

.footer {
	background-color: black;
	margin: auto;
	height: 40px;
	line-height: 40px;
}

.footer .copy {
	text-align: center;
	color: white;
}